@import "../../../../globalStyles/variables.module";

.BaseContainer {
  width: 25%;
  height: 100vh;
  background-color: #fafafa;
  border-right: 1px solid $border-color-light;
  padding: 0.75rem;
}

[data-theme="dark"] .BaseContainer {
  background-color: $background-color-dark;
  border-right: 1px solid $border-color-dark;
}

.KnowledgeBaseArea {
  width: 100%;
  padding: 0.75rem;
}

.SettingsArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All-Files-wrapper {
  width: inherit;
  display: flex;
  align-items: center;
}

.Btn-container {
  width: 30%;
}

.DocumentArea {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .SettingsArea {
    flex-direction: column;
    // background-color: red;
  }

  .BaseContainer {
    display: none;
  }

  .Btn-container {
    width: 90%;
    margin-top: 0.5rem;
  }

  .All-Files-wrapper {
    width: 100%;
  }

  .All-Files-wrapper > div {
    width: 100%;
  }
}

@media screen and (min-width: 451px) and (max-width: 810px) {
}
