@import "../../../../globalStyles/variables.module";

.BaseContainer {
  width: 25%;
  height: 100vh;
  background-color: #fafafa;
  border-right: 1px solid $border-color-light;
  padding: 0.75rem;
}

[data-theme="dark"] .BaseContainer {
  background-color: $background-color-dark;
  border-right: 1px solid $border-color-dark;
}

.KnowledgeBaseArea {
  width: 100%;
  padding: 0.75rem;
}

.SettingsArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.All-Files-wrapper {
  width: inherit;
  display: flex;
  align-items: center;
}

.Btn-container {
  width: 30%;
}
