@import "../../../../globalStyles/variables.module";

.Header {
  width: 100%;
  min-height: 1rem;
  background-color: #F6FAFB;
  border-bottom: 1px solid $border-color-light;
  padding: 0.75rem;
  position: sticky;
  top: 0;
}

[data-theme="dark"] .Header {
  background-color: $background-color-dark;
  border-bottom: 1px solid $border-color-dark;
}
