@import "../../../../../globalStyles/variables.module";

// ------------- assistant flow
.Flow-Container {
  width: 70%;
}

.PopUpContent {
  padding: 1rem;
}

.SectionLabel {
  display: flex;
  align-items: center;
}

.Haeding {
  font-size: 1rem;
}

.Divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

