@import "../../../../../globalStyles/variables.module";

// ------------- assistant flow
.Flow-Container {
  width: 70%;
}

.PopUpContent {
  padding: 1rem;
}

.SectionLabel {
  display: flex;
  align-items: center;
}


