// .CustomNodeContainer {
//   width: inherit;
//   height: inherit;
//   position: relative;
// }

.CustomNodeBade {
  position: absolute;
  top: 0;
}

.CustomNode {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CustomNodeIcon {
  font-size: 4rem;
  color: #fff;
}

.TitleHeading {
  font-size: 0.7rem;
}

.ClockContainer {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}

.Clock {
  width: 3rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
  backdrop-filter: blur(5px); /* frosted glass effect */
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
