* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #000;
  background: #fff;
  font-family: Poppins;
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: #fff;
  background: #000;
}

a {
  color: #0070f3; /* Customize the color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}