.Container {
  width: 100%;
  height: 60vh;
}

.WorkflowSettingsArea {
  padding: 1rem;
  width: 30%;
  height: inherit;
  position: sticky;
  top: 0;
  background-color: red;
  overflow-y: scroll;
}

.WorkflowSettingsAreaClose {
  display: none;
}

.WorkflowSettingsAreaCloseIcon {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover{
    transform: scale(1.1);
  }
}