.AddDocumentCardWrapper {
  width: 100%;
  margin-top: 2rem;
}

.AddDocumentCard {
  width: 30rem;
  border-top: 1px solid lightgray;
  padding-top: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.IconWrapper {
  width: 3.75rem;
  height: 3.375rem;
  background-color: #325ed1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1ch;
}
