@import "../../../../globalStyles/variables.module";

.Sidebar-Wrapper {
  background-color: #f6fafb;
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid $border-color-light;
}

.SidebarClose {
  display: none;
}

[data-theme="dark"] .Sidebar-Wrapper {
  background-color: $background-color-dark;
  border-right: 1px solid $border-color-dark;
}

.SidebarItem {
  width: 100%;
  margin-left: 0.75rem;
  margin-top: 2rem;
}
.SidebarItem-label {
  font-size: 0.75rem;
  font-variant: small-caps;
}

.SidebarItem > div {
  margin-left: 0.75rem;
}

.Others {
  margin-top: 3rem;
  margin-left: 12px;
}

.IconAndLabelCustomStyle {
  margin-top: 0.5rem;
  cursor: pointer;
}

// mobile
@media screen and (max-width: 450px) {
  .Sidebar-Wrapper {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 12rem;
    z-index: 9;
  }
}

// ipad
@media screen and (min-width: 451px) and (max-width: 810px) {
  .Sidebar-Wrapper {
    position: fixed;
    top: 1rem;
    left: 0;
    width: 12rem;
    z-index: 9;
  }
}
